<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.textmesh">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TextMesh">
        <activity
            android:name=".ui.activities.FasonAddActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FasonDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FasonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.UretimScreen"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FinisAddActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FinisDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FinisActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RecyclerView"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>